<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <title>Ceneo.pl web scraper</title>
</head>
<body>
  <header class="bg-dark text-white p-3">
    <div class="container">
      <h1>Ceneo.pl Web Scraper</h1>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">CeneoScraper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('display_form')}}">Ekstrakcja opinii</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('products')}}">Lista produktów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('author')}}">O autorze</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="container">
    <div class="row">
      <h2 class="col text-center">
        {% block title %}
        {% endblock %}
      </h2>
    </div>
    <div class="row">
      <div class="col">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </section>
  <!-- <section class="container mt-4">
    <h2>O projekcie</h2>
    <p>Cel aplikacji: Automatyczne pobieranie opinii o produktach z serwisu Ceneo.pl.</p>
    <p>Opis działania aplikacji: Użytkownik może wprowadzić identyfikator produktu, aby pobrać opinie, przeglądać listę produktów oraz analizować dane w formie tabel i wykresów.</p>
    <p>Zastosowane biblioteki: Flask, Bootstrap, Pandas, Matplotlib.</p>
    <p>Zastosowane podejścia: REST API, dynamiczne generowanie stron HTML, analiza danych.</p>
  </section> -->
  <footer class="bg-dark text-white text-center p-3 mt-4">
    <p>&copy; 2025 Stanisław Krzeptowski</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>